@{
    ViewBag.Title = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h2 class="display-4">Welcome to The Joel Hilton Film Collection</h2>
    <br />
    <img src="~/JoelHilton.jpg" width="800" /> <!--Joel Image-->
    
</div>